@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>


@section Scripts
{
    <script type="text/javascript">
        var blah = new Blah();
        var result = blah.add(1, 2);
        window.alert(result);
    </script>
}